/* 공통 초기화 */
* {
    margin: 0;
    padding: 0;
        list-style: none;
            box-sizing: border-box;
        }
        
        html,
        body {
            height: 100%;
    font-family: "Noto Sans KR", sans-serif;
        background: black;
    color: white;
        overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 양쪽 끝으로 정렬 */
    padding: 0 32px;
    /* 좌우 여백 */
    height: 88px;
    background: rgba(0, 0, 0, 0.3);
}

.left-group {
    display: flex;
    align-items: center;
    gap: 36px;
}

main {
    flex: 1;
}

.menu {
    display: flex;
    gap: 36px;
    font-size: 20px;
    font-weight: 200;
}

.menu li {
    list-style: none;
}
.emotion_cinema-logo {
    padding-top: 10px;
    height: 80px

}
.user-icon {
    height: 40px;
}

#Banner {
    display: flex;
        justify-content: center;
        margin: 20px auto;
        width: 100%;
        max-width: 1344px;
        overflow: hidden;
}

#Banner ul {
    display: flex;
        gap: 12px;
}

.banner {
    width: 1344px;
        height: 525px;
    border-radius: 20px;
        overflow: hidden;
}

.banner img {
    width: 100%;
        height: 100%;
        object-fit: cover;
}

#Banner_button ul,
#Channel_button ul {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 6px;
}

#Banner_button ul li,
#Channel_button ul li {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

#Banner_button ul li:nth-child(2),
#Channel_button ul li:nth-child(1) {
    background: white;
}

#Channel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
        overflow-x: auto;
        gap: 8px;
    padding: 0 20px;
}

#Channel .channels {
    width: 268px;
    height: 100px;
    object-fit: cover;
}

#top {
    margin-top: 40px;
    padding: 0 20px;
    overflow-x: auto;
}

#top ul {
    display: flex;
    gap: 20px;
}

#top .top {
    width: 199px;
    height: 287px;
    object-fit: cover;
    border-radius: 4px;
}

#today\'s {
    margin: 40px 20px 10px;
        font-size: 22px;
    font-weight: 700;
}

footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.footer>div {
    margin-bottom: 10px;
}